html, body, main {
    height: 100%;
}
body {
    background: linear-gradient(180deg, rgba(51, 0, 153, 0.25) 0%, rgba(51, 0, 153, 0.00) 100%), url("../images/bg.jpg"), lightgray 50% / cover no-repeat;
    background-size: cover;
}
h1 {
    color: #fff;
    font-family: Montserrat;
    font-weight: 200;
    font-size: clamp(2.5rem, 8vw, 5rem);
}
div.spacer {
    background: #d9d9d9;
    width: 50px;
    height: 2px;
    flex-shrink: 0;
}
p {
    color: #fff;
    font-family: Nunito Sans;
    font-weight: 600;
    font-size: clamp(.75rem, 4vw, 1rem);
    max-width: 43.75rem;
}